/*@import url(../bower_components/font-awesome/css/font-awesome.min.css);*/
/* line 9, ../sass/_frame.scss */
#header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 12, ../sass/_layout.scss */
body {
  background: #181817;
  border-radius: 5px;
  cursor: default;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
}

/* line 28, ../sass/_layout.scss */
a {
  text-decoration: none;
}

/*
-- App */
/* line 98, ../sass/_layout.scss */
#header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  height: 45px;
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 100%;
  background-image: linear-gradient(to bottom, #30302e 0%, #232322 100%);
  color: #ffffff;
}
/* line 111, ../sass/_layout.scss */
#header h1 {
  font-size: 13px;
}
/* line 115, ../sass/_layout.scss */
#header .btn-set {
  position: absolute;
  left: 15px;
  top: 17px;
}
/* line 120, ../sass/_layout.scss */
#header .btn-set.right {
  right: 7px;
  left: initial;
  top: 5px;
}
/* line 127, ../sass/_layout.scss */
#header .btn-set:hover .btn-os {
  color: rgba(0, 0, 0, 0.8);
}
/* line 129, ../sass/_layout.scss */
#header .btn-set button {
  display: block;
  float: left;
  margin: 0 6px 0 0;
  background: #141414;
}
/* line 135, ../sass/_layout.scss */
#header .btn-set button.btn-os {
  border-radius: 30px;
  border: 0;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  height: 12px;
  padding: 0;
  text-align: center;
  width: 12px;
}
/* line 148, ../sass/_layout.scss */
#header .btn-set button.debug {
  background: #fff;
  content: 'D';
  color: #000;
  line-height: 9px;
  padding: 0 5px;
  text-transform: uppercase;
  width: auto;
}
/* line 158, ../sass/_layout.scss */
#header .btn-set button.close:hover {
  background: #e74c3c;
}
/* line 159, ../sass/_layout.scss */
#header .btn-set button.max:hover {
  background: #27ae60;
}
/* line 160, ../sass/_layout.scss */
#header .btn-set button.min:hover {
  background: #f1c40f;
}
/* line 161, ../sass/_layout.scss */
#header .btn-set button.fullscreen {
  color: #000;
  background: transparent;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 0;
  display: block;
}

#header .btn-set button.fullscreen::before {
  content: "\e000";
  font-family: VideoJS;
  font-size: 1.85em;
  line-height: 0.2em;
  background: none;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
#catalog-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  width: 250px;
  position: absolute;
  top: 45px;
  padding: 20px;
  height: calc(100% - 45px);
  background: #121212;
  border-right: 1px solid #000;
  font-family: 'Myriad Pro', 'Lucida Grande', sans-serif;
}
/* line 11, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 15, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-button {
  display: none;
}
/* line 18, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-track {
  display: none;
}
/* line 21, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 24, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 30, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-corner {
  display: none;
}
/* line 33, ../sass/_utils.scss */
#catalog-select::-webkit-resizer {
  display: none;
}
/* line 38, ../sass/_utils.scss */
#catalog-select:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 44, ../sass/_utils.scss */
#catalog-select:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 217, ../sass/_layout.scss */
#catalog-select h4 {
  margin-top: 40px;
  color: #404040;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 225, ../sass/_layout.scss */
#catalog-select ul li {
  display: block;
  font-weight: bold;
  font-size: 13px;
}
/* line 230, ../sass/_layout.scss */
#catalog-select ul li a {
  -webkit-transition: background-color ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  color: #999999;
  display: block;
  border-radius: 3px;
  padding: 8px;
}
/* line 237, ../sass/_layout.scss */
#catalog-select ul li a:hover {
  background: #010101;
}
/* line 242, ../sass/_layout.scss */
#catalog-select ul li.active a,
#catalog-select ul li.active a:hover {
  background: #286dc4;
  background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  cursor: default;
}
/* line 254, ../sass/_layout.scss */
#catalog-select .search {
  position: absolute;
  right: 20px;
  top: 12px;
}
/* line 259, ../sass/_layout.scss */
#catalog-select .search input {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: #FFF;
  font-size: 12px;
  height: 15px;
  padding: 8px 10px;
  width: 115px;
  background: transparent;
  font-weight: bold;
}
/* line 271, ../sass/_layout.scss */
#catalog-select .search i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.4);
}

/* line 282, ../sass/_layout.scss */
.container {
  overflow: hidden;
  margin: 60px 10px 0 250px;
  position: relative;
}

.content {
  float: left;
  margin-left: 30px;
  text-shadow: 0 -1px 0 #000;
  width: 660px;
}

.content p.metadata {
  color: #196cb2;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}

.content p.description {
  color: #777;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
