<header id="header">
    <nav class="btn-set">
        <button class="btn-os close"></button>
        <button class="btn-os min"></button>
        <button class="btn-os max"></button>
    </nav>
    <h1>NeurocidEditor</h1>
</header>

<div id="catalog-select">
    <ul class="menu" ng-show="isHidden">
        <li>
            <a ng-click='addShip(true)'> add Ship A </a>
        </li>
        <li>
            <a ng-click='addShip(false)'> add Ship B </a>
        </li>
        <li>
            <a ng-click='addLine(10,true)'>Add line</a>
        </li>
        <li>
            <a ng-click='exportJson()'>Export</a>
        </li>
        <p class="totalShips">{{ ship.getShipCount() }} total</p>
    </ul>

    <a ng-click="toggleProperties()" ng-hide="isHidden">back</a>
    <ul id="ship_list" ng-show="isHidden">
      <hr>
        <li ng-repeat="shape in canvasShapes()">
            <span ng-click="getProperties()">Ship {{$index +1}}</span>
        </li>
    </ul>

    <ul ng-hide="isHidden">
        <li><br>
         Left {{ properties.loc[0]}} - Top {{ properties.loc[1]}}
        </li>
        <li>
          <a href="#" editable-checkbox="properties.CanMove" e-title="can move">
              {{ properties.CanMove && "Ship   movement ON " || "Ship movement OFF" }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.CanRotate" e-title="can rotate">
              {{ properties.CanRotate && "Ship rotation ON " || "Ship rotation OFF " }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.CanShoot" e-title="can shoot">
              {{ properties.CanShoot && "Ship shooting ON " || " Ship shooting OFF" }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.IsDummy" e-title="Test dummy">
            {{ properties.IsDummy && "Ship is brain dead " || " Ship is not a test dummy" }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.DisableProjectileFitness" e-title="DisableProjectileFitness">
             {{ properties.DisableProjectileFitness && "DisableProjectileFitness ON" || " DisableProjectileFitness OFF" }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.MaxCooldown" e-title="Weapon Cooldown">
            Weapon Cooldown : {{properties.MaxCooldown || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.MaxAmmo" e-title="Ammunition">
            Ammunition : {{properties.MaxAmmo || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.MaxDamage" e-title="Weapon damage">
            Weapon damage : {{properties.MaxDamage || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.CrashesPerDamage" e-title="Crash damage ">
            Crash damage : {{properties.CrashesPerDamage || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.NumPerfDesc" e-title="NumPerfDesc">
            NumPerfDesc : {{properties.NumPerfDesc || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-number="properties.Range" e-title="">
              Range : {{properties.Range}}
          </a>
         </li>

        <li>
          <a href="#" editable-number="properties.MaxSpeed" e-title="">
              MaxSpeed : {{properties.MaxSpeed}}
          </a>
         </li>

        <li>
          <a href="#" editable-number="properties.MaxRotation" e-title="">
              MaxRotation : {{properties.MaxRotation}}
          </a>
         </li>

        <li>
            <a href="#" editable-number="properties.MaxFuel" e-title="">
                MaxFuel : {{properties.MaxFuel}}
            </a>
        </li>

        <li>
          <a href="#" editable-number="properties.FuelRate" e-title="">
              FuelRate : {{properties.FuelRate}}
          </a>
        </li>
    </ul>

</div>

<section class="container">
    <div id="editor">
        <canvas id="canvas" width="500" height="500">You have a very old browser</canvas>
    </div>
</section>
