<header id="header">
    <nav class="btn-set">
        <button class="btn-os close"></button>
        <button class="btn-os min"></button>
        <button class="btn-os max"></button>
    </nav>
    <h1>NeurocidEditor</h1>
</header>

<div id="catalog-select">
    <ul class="menu" ng-show="isHidden">
        <li>
            <a ng-click='addShip(true)'> add Ship A </a>
        </li>
        <li>
            <a ng-click='addShip(false)'> add Ship B </a>
        </li>
        <li>
            <a ng-click='addLine(10,true)'>Add line</a>
        </li>
        <li>
            <a ng-click='exportJson()'>Export</a>
        </li>
        <p class="totalShips">{{ ship.getShipCount() }} total</p>
    </ul>

    <a ng-click="toggleProperties()" ng-hide="isHidden">back</a>
    <ul id="ship_list" ng-show="isHidden">
      <hr>
        <li ng-repeat="shape in canvasShapes()">
            <span ng-click="getProperties()">Ship {{$index +1}}</span>
        </li>
    </ul>

    <ul ng-hide="isHidden">
        <li><br>
         Left {{ properties.loc[0]}} - Top {{ properties.loc[1]}}
        </li>
        <li>
          <a href="#" editable-checkbox="properties.canMove" e-title="can move">
              {{ properties.canMove && "Ship   movement ON " || "Ship movement OFF" }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.canRotate" e-title="can rotate">
              {{ properties.canRotate && "Ship rotation ON " || "Ship rotation OFF " }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.canShoot" e-title="can shoot">
              {{ properties.canShoot && "Ship shooting ON " || " Ship shooting OFF" }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.isDummy" e-title="Test dummy">
            {{ properties.isDummy && "Ship is brain dead " || " Ship is not a test dummy" }}
          </a>
        </li>

        <li>
          <a href="#" editable-checkbox="properties.disableProjectileFitness" e-title="disableProjectileFitness">
             {{ properties.disableProjectileFitness && "disableProjectileFitness ON" || " disableProjectileFitness OFF" }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.maxCooldown" e-title="Weapon Cooldown">
            Weapon Cooldown : {{properties.maxCooldown || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.maxAmmo" e-title="Ammunition">
            Ammunition : {{properties.maxAmmo || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.maxDamage" e-title="Weapon damage">
            Weapon damage : {{properties.maxDamage || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.crashesPerDamage" e-title="Crash damage ">
            Crash damage : {{properties.crashesPerDamage || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.numPerfDesc" e-title="numPerfDesc">
            numPerfDesc : {{properties.numPerfDesc || 'empty' }}
          </a>
        </li>

        <li>
          <a href="#" editable-number="properties.range" e-title="">
              range : {{properties.range}}
          </a>
         </li>

        <li>
          <a href="#" editable-number="properties.maxSpeed" e-title="">
              MaxSpeed : {{properties.maxSpeed}}
          </a>
         </li>

        <li>
          <a href="#" editable-number="properties.maxRotation" e-title="">
              MaxRotation : {{properties.maxRotation}}
          </a>
         </li>

        <li>
            <a href="#" editable-number="properties.maxFuel" e-title="">
                MaxFuel : {{properties.maxFuel}}
            </a>
        </li>

        <li>
          <a href="#" editable-number="properties.fuelRate" e-title="">
              FuelRate : {{properties.fuelRate}}
          </a>
        </li>

        <li>
          <a href="#" editable-number="properties.startFuel" e-title="">
              StartFuel : {{properties.startFuel}}
          </a>
        </li>

        <li>
          <a href="#" editable-number="properties.hardness" e-title="">
              Hardness : {{properties.hardness}}
          </a>
        </li>

        <li>
          <a href="#" editable-number="properties.startammo" e-title="">
              Startammo : {{properties.startammo}}
          </a>
        </li>

        <li>
          <a href="#" editable-text="properties.fitnessfunction" e-title="">
              Fitnessfunction : {{properties.fitnessfunction}}
          </a>
        </li>

    </ul>

</div>

<section class="container">
    <div id="editor" ng-style="style()" resize>
        <canvas id="canvas" width="500" height="500">You have a very old browser</canvas>
    </div>
</section>
